<section id="clients" class="clients-section">
  <!-- Section Title -->
  <div class="container section-title">
    <h2>Our partners</h2>
    <p class="text-center mb-4">here are our partners</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row text-center gy-4 justify-content-center">
      <div class="col-md-2 col-6 client-logo">
        <img src="assets/img/clients/client-1.png" class="img-fluid" alt="Client 1">
      </div>
      <div class="col-md-2 col-6 client-logo">
        <img src="assets/img/clients/client-2.png" class="img-fluid" alt="Client 2">
      </div>
      <div class="col-md-2 col-6 client-logo">
        <img src="assets/img/clients/client-3.jpeg" class="img-fluid" alt="Client 3">
      </div>
      <div class="col-md-2 col-6 client-logo">
        <img src="assets/img/clients/client-4.png" class="img-fluid" alt="Client 4">
      </div>
    </div>
  </div>
</section>