<!-- <div class="container">
  <div class="row">
      <div class="col-md-12">
          <div id="testimonial-slider" class="owl-carousel">
              <div class="testimonial">
                  <div class="pic">
                      <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                  </div>
                  <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  </p>
                  <h3 class="title">Jessica</h3>
                  <small class="post">- Archietect</small>
              </div>

              <div class="testimonial">
                  <div class="pic">
                      <img src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                  </div>
                  <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  </p>
                  <h3 class="title">Pearl</h3>
                  <small class="post">- Engineer </small>
              </div>

              <div class="testimonial">
                  <div class="pic">
                      <img src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                  </div>
                  <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  </p>
                  <h3 class="title">Kellie</h3>
                  <small class="post">- Graphic Designer</small>
              </div>

              <div class="testimonial">
                <div class="pic">
                  <img src="assets/img/testimonials/testimonials-1.jpg" alt="Farhan Rio" class="testimonial-img">
                </div>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <h3 class="title">Farhan Rio</h3>
                <small class="post">- Agent Manager</small>
              </div>
      
              <div class="testimonial">
                <div class="pic">
                  <img src="assets/img/testimonials/testimonials-2.jpg" alt="Jane Doe" class="testimonial-img">
                </div>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <h3 class="title">Jane Doe</h3>
                <small class="post">- Senior Manager</small>
              </div>
      
              <div class="testimonial">
                <div class="pic">
                  <img src="assets/img/testimonials/testimonials-3.jpg" alt="Alan Smith" class="testimonial-img">
                </div>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <h3 class="title">Alan Smith</h3>
                <small class="post">- Assistant Manager</small>
              </div>
      
              <div class="testimonial">
                <div class="pic">
                  <img src="assets/img/testimonials/testimonials-4.jpg" alt="Saul Goodman" class="testimonial-img">
                </div>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <h3 class="title">Saul Goodman</h3>
                <small class="post">- CEO & Founder</small>
              </div>

              <div class="testimonial">
                <div class="pic">
                  <img src="assets/img/testimonials/testimonials-5.jpg" alt="Jena Karlis" class="testimonial-img">
                </div>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <h3 class="title">Jena Karlis</h3>
                <small class="post">- Store Owner</small>
              </div>

          </div>
      </div>
  </div>
</div> -->



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="testimonial-slider" class="owl-carousel">
        <div class="testimonial">
          <div class="pic">
            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <h3 class="title">Jessica</h3>
          <small class="post">- Architect</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </div>
          <h3 class="title">Pearl</h3>
          <small class="post">- Engineer</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <h3 class="title">Kellie</h3>
          <small class="post">- Graphic Designer</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="assets/img/testimonials/testimonials-1.jpg" alt="Farhan Rio" class="testimonial-img">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <h3 class="title">Farhan Rio</h3>
          <small class="post">- Agent Manager</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="assets/img/testimonials/testimonials-2.jpg" alt="Jane Doe" class="testimonial-img">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <h3 class="title">Jane Doe</h3>
          <small class="post">- Senior Manager</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="assets/img/testimonials/testimonials-3.jpg" alt="Alan Smith" class="testimonial-img">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <h3 class="title">Alan Smith</h3>
          <small class="post">- Assistant Manager</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="assets/img/testimonials/testimonials-4.jpg" alt="Saul Goodman" class="testimonial-img">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <h3 class="title">Saul Goodman</h3>
          <small class="post">- CEO & Founder</small>
        </div>

        <div class="testimonial">
          <div class="pic">
            <img src="assets/img/testimonials/testimonials-5.jpg" alt="Jena Karlis" class="testimonial-img">
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </div>
          <h3 class="title">Jena Karlis</h3>
          <small class="post">- Store Owner</small>
        </div>
        
      </div>
    </div>
  </div>
</div>
