<!-- <header class="bg-primary text-white text-center py-3">
  <div class="container d-flex justify-content-center align-items-center">
    <span class="title">Bienvenue sur le site de Tornixtech</span>
    <div class="contact-info d-flex align-items-center">
      <span class="me-3">
        <i class="fas fa-phone-alt me-1"></i>Call Us: (+225) +225 07 12 34 56
        (Sat-Thursday)
      </span>
      <span>
        <i class="fas fa-envelope me-1"></i>Mail us for help: contact&#64;tornixtech.com
      </span>
      <span class="me-3">
        <i class="fas fa-phone-alt me-1"></i>Abidjan Cote d'ivoire: Abbata Ab center
      </span>
      <div class="social-links ms-3">
        <a class="text-white me-2" href="#"><i class="fab fa-facebook"></i><span
            class="d-lg-none ml-3">Facebook</span></a>
        <a class="text-white me-2" href="#"><i class="fab fa-twitter"></i><span
            class="d-lg-none ml-3">Twitter</span></a>
        <a class="text-white me-2" href="#"><i class="fab fa-linkedin"></i><span
            class="d-lg-none ml-3">LinkedIn</span></a>
        <a class="text-white me-2" href="#"><i class="fab fa-instagram"></i><span
            class="d-lg-none ml-3">Instagram</span></a>
        <a class="text-white me-2" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
          target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a class="text-white me-2" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </div>
  <h1 class="mt-1"></h1>
</header> -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/img/logos/logo.png" alt="Logo" class="default-logo img-fluid" style="height: 30px; width: auto;"
        height="40">
      <!-- <svg width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bootstrap"
        viewBox="0 0 16 16">
        <path d="M0 0h16v16H0z"></path>
      </svg> -->
      <!-- <span class="ml-3 font-weight-bold">BRAND</span> -->
    </a>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
      data-target="#navbar4" aria-controls="navbar4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav mr-auto pl-lg-4">
        <li class="nav-item px-lg-2 active">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item px-lg-2">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item px-lg-2">
          <a href="/services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="/products" class="nav-link">Products</a>
        </li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="banner">
  <div class="banner-content">
    <h1>Bienvenue sur notre site</h1>
    <p>Decouvrez nos services exceptionnels.</p>
  </div>
</div> -->


<!-- <div class="bg-image"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
            height: 50vh;">
</div> -->



<!-- <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
  <h1 class="mb-3 h2">Jumbotron</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
    labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
    neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
  </p>
</div> -->

<!-- <div class="bg-image p-5 text-center shadow-1-strong text-white"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
                background-size: cover;
                background-position: center;
                margin: 0;
                padding-top: 60px;">
  <h1 class="mb-3 h2">Jumbotron</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
    labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
    neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
  </p>
</div> -->


<!-- <div class="bg-image p-5 text-center shadow-1-strong text-white"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp'); background-size: cover; background-position: center;">
  <h1 class="mb-3 h2">Jumbotron</h1>
  <p>Lorem ipsum dolor...</p>
</div> -->


<!-- <section>
  <div class="bannerContainer">
      <img id="imgBannerGallery" src="https://i.imgur.com/pMLN585.png" alt="Artistas por Chile">
      <div class="overlay">
          <div class="text">
              <h2>Title here</h2>
              <p>Your text here</p>
          </div>
      </div>
  </div>
</section> -->
