body {
  display: none;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0; */
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.sticky-header {
  background-color: rgba(52, 152, 219, 0.9);
}

.title {
  margin-right: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contact Info */
.contact-info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 0.9rem;
}

.contact-info span {
  margin-right: 20px;
}

/* Social Links */
.social-links a {
  color: white;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #f39c12;
}

/* Navbar */
.navbar {
  color: black !important;
  height: auto;
  /* margin-top: 80px; */
  margin-bottom: 0;
  padding: 10px;
}

.navbar .nav-link {
   /* Change la couleur du texte à noir */
   /* Facultatif : rend le texte plus visible */
}


/* Icons */
.fas {
  vertical-align: middle;
}

/* Main Heading */
h1 {
  margin-top: 10px;
  font-size: 1.5rem;
}

/* Background Image Section */
.bg-image {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  min-height: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  top: -30px;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  overflow-x: hidden;
}

.bg-image .content {
  position: relative;
  z-index: 1; /* Au-dessus de l'image */
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
}

.bg-image .content {
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
  position: relative;
  z-index: 1;
}

.bg-image.p-5 {
  padding: 3rem !important;
}

/* Text Content in Background Image Section */
.bg-image h1,
.bg-image p {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  margin: 0 auto;
}





/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */


/* body {
    padding-left: 10px;
    padding-right: 10px;
} */

.bannerContainer {
    position: relative;
    display: inline-block;
    margin-top: -110px;
    width: 100%;
    border-radius: 10px; /* Delete this if you don't want the image to have a radius */
}

#imgBannerGallery {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    border-radius: 10px; /* Make sure to delete this if you don't want the overlay to have a radius */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay .text {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.overlay h2 {
    font-family: "Nunito";
    text-transform: uppercase;
}

.overlay p {
    font-size: large;
}

.bannerContainer:hover .overlay {
    opacity: 1;
}

.bannerContainer:hover .overlay .text {
    opacity: 1;
}
