<!-- Header supérieur -->
<div class="top-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 top-header-left">
        <p>Our accounting experts waiting for you! <a href="#">Contact now</a></p>
      </div>
      <div class="col-md-6 top-header-right text-end">
        <span><i class="fa fa-phone"></i> 0222 8899900</span>
        <span><i class="fa fa-map-marker"></i> Broadway, 24th Floor, San Francisco</span>
      </div>
    </div>
  </div>
</div>

<!-- Navbar principale -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Logo" style="max-height: 40px;">
      Accounto
    </a>
    <!-- Bouton pour menu mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Company</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Process</a></li>
        <li class="nav-item"><a class="nav-link" href="#">News</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
      <!-- Bouton d'appel à l'action -->
      <a href="#" class="btn btn-primary btn-sm ms-3">Let's discuss</a>
    </div>
  </div>
</nav>
