<!-- Services Section -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5 section">
  <div class="container">
    <div class="row">
      <div class="container section-title">
        <!-- Section Title -->
        <h2 class="fw-bold fs-1">Services</h2>
        <p>
          At <span class="b-class-secondary"><strong>Tornixtech</strong></span>, we offer innovative solutions tailored to your needs, combining technological expertise and performance to support your growth.
        </p><br><br>
        <!-- <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>  -->
      </div><!-- End Section Title -->
    </div>
    <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <h3>pôle Réseau</h3>
          <!-- <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p> -->
          <p>Tornixtech est spécialisée dans les domaines suivants : <br>
            - administration des systèmes et réseaux <br>
            - gestion de parcs micro-informatiques <br>
            - création et paramétrage de réseaux informatiques <br>
            - maintenance et le support informatique</p>
        </div><!-- End Service Item -->
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-arrows-down-to-people"></i>
          </div>
          <h3>pôle sécurité informatique</h3>
          <p>
            Tornixtech est spécialisée dans les domaines suivants : <br>
            - intégration des systèmes <br>
            - cybersécurité <br>
            - infogérance <br>
            - infogérance <br>
            - développement web et mobile <br>
            - cloud computing
          </p>
        </div>
      </div>
      <!-- <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-globe"></i>
          </div>
          <h3>Global Reach & Quality Traffic</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div> -->
      <!-- <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-money-check-dollar"></i>
          </div>
          <h3>Flexible pricing models</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div> -->
      <!-- <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-regular fa-circle-check"></i>
          </div>
          <h3>Advanced optimization technologies & methodologies</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div> -->
      <!-- <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-people-group"></i>
          </div>
          <h3>Dedicated account management team</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- /Services Section -->
